<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="TruServiceUrl"
         value="https://tru-sand-service-v2xx.trurating.com/api/servicemessage,http://localhost:31415/api/servicemessage,http://localhost:47851/api/servicemessage" />
    <!--
    
    Register an account in the developer portal to get a PartnerId, MerchantId and TransportKey.  You can make up your own TerminalId
    
    Uncomment the following elements and enter your own values.
    
    If TerminalId is omitted, the local machine name will be used.
    -->
    
    <add key="TerminalId" value="" />
    <add key="MerchantId" value="" />
    <add key="PartnerId" value="" />
    <add key="TransportKey" value="" />
    
    <add key="Languages" value="en-GB" />
    <add key="HttpTimeoutMs" value="-1" />
    <!-- Possible values are None, Integrated, Semi -->
    <add key="PosIntegration" value="None" />
  </appSettings>
</configuration>