<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Endpoint" value="https://tru-sand-service-v2xx.trurating.com/api/servicemessage,http://localhost:31415/api/servicemessage,http://localhost:47851/api/servicemessage"/>
    <add key="MerchantId" value="TRU-150"/>
    <add key="PartnerId" value="1"/>
    <add key="TransportKey" value="  "/>
    <add key="Verbose" value="true"/>
    <add key="Languages" value="en-GB"/>
    <add key="TsiVersion" value="V220"/>
    <add key="PosIntegration" value="None"/>
    <add key="RegistrationCode" value="false"/>
  </appSettings>
</configuration>