<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="TruServiceUrl"
         value="https://tru-sand-service-v2xx.trurating.com/api/servicemessage,http://localhost:31415/api/servicemessage,http://localhost:47851/api/servicemessage" />
    <!--
    
    Register an account in the developer portal to get a PartnerId, MerchantId and TransportKey.  You can make up your own TerminalId
    
    Uncomment the following elements and enter your own values.
    
    If TerminalId is omitted, the local machine name will be used.
    -->
    <add key="TerminalId" value="1" />
    <add key="MerchantId" value="TRU-150Toby" />
    <add key="PartnerId" value="1" />
    <add key="TransportKey" value="123456789012345678901234" />
    <add key="Languages" value="en-CA,fr-CA" />
    <add key="HttpTimeoutMs" value="-1" />
    <!-- Possible values are None, Events, EventList -->
    <add key="PosIntegration" value="None" />
  </appSettings>
</configuration>